<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.dao.InfoDao">

    <resultMap id="queryAndType" type="Tb_info">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="info_type" jdbcType="INTEGER" property="info_type"/>
        <result column="info_title" jdbcType="VARCHAR" property="info_title"/>
        <result column="info_content" jdbcType="VARCHAR" property="info_content"/>
        <result column="info_linkman" jdbcType="VARCHAR" property="info_linkman"/>
        <result column="info_phone" jdbcType="VARCHAR" property="info_phone"/>
        <result column="info_email" jdbcType="VARCHAR" property="info_email"/>
        <result column="info_date" jdbcType="VARCHAR" property="info_date"/>
        <result column="info_check" jdbcType="VARCHAR" property="info_check"/>
        <result column="info_payfor" jdbcType="VARCHAR" property="info_payfor"/>
        <result column="info_status" jdbcType="VARCHAR" property="info_status"/>
        <association property="tb_type" javaType="Tb_type">
            <id column="type_sign" property="type_sign"></id>
            <result column="type_name" property="type_name"></result>
            <result column="type_intro" property="type_intro"></result>
        </association>
    </resultMap>

    <!--发布信息-->
    <insert id="addMessage" parameterType="Tb_info">
        insert into  tb_info values(null,#{info_type},#{info_title},#{info_content},#{info_linkman},#{info_phone},#{info_email},#{info_date},0,0,0)
    </insert>


    <!--模糊查询-->
    <select id="selectByLike" resultMap="queryAndType" parameterType="Tb_info">
        select *
        from tb_info i, tb_type t
        where 1=1
        <if test="id != null and id != ''">
            and id like concat('%', #{id} ,'%')
        </if>
        <if test="info_title != null and info_title != ''">
            and info_title like concat('%', #{info_title} ,'%')
        </if>
        <if test="info_content != null and info_content != ''">
            and info_content like concat('%', #{info_content} ,'%')
        </if>
        <if test="info_linkman != null and info_linkman != ''">
            and info_linkman like concat('%', #{info_linkman} ,'%')
        </if>
        <if test="info_phone != null and info_phone != ''">
            and info_phone like concat('%', #{info_phone} ,'%')
        </if>
        <if test="info_email != null and info_email != ''">
            and info_email like concat('%', #{info_email} ,'%')
        </if>
        and t.type_sign=i.info_type
    </select>

    <!--全字匹配-->
    <select id="selectByAll" resultMap="queryAndType" parameterType="Tb_info">
        select * from tb_info i, tb_type t
        where 1=1
        <if test="id != null and id != ''">
            and id =#{id}
        </if>
        <if test="info_title != null and info_title != ''">
            and info_title=#{info_title}
        </if>
        <if test="info_content != null and info_content != ''">
            and info_content=#{info_content}
        </if>
        <if test="info_linkman != null and info_linkman != ''">
            and info_linkman=#{info_linkman}
        </if>
        <if test="info_phone != null and info_phone != ''">
            and info_phone=#{info_phone}
        </if>
        <if test="info_email != null and info_email != ''">
            and info_email=#{info_email}
        </if>
        and t.type_sign=i.info_type
    </select>

    <select id="selectAllByCheckPay" resultMap="queryAndType" parameterType="Tb_info">
        select * from tb_info i, tb_type t
        where 1=1
        <if test="info_type != null and info_type != ''">
            and info_type=#{info_type}
        </if>
        <if test="info_check != null and info_check != ''">
            and info_check=#{info_check}
        </if>
        <if test="info_payfor != null and info_payfor != ''">
            and info_payfor=#{info_payfor}
        </if>
        and t.type_sign=i.info_type
    </select>


    <!--根据Id查询相应的信息-->
    <select id="selectInfoById" parameterType="Tb_info" resultMap="queryAndType">
     select * from tb_info i, tb_type t where id=#{id} and i.info_type=t.type_sign
    </select>



    <select id="selectById" parameterType="Tb_info" resultMap="queryAndType">
     select  * from tb_info where id=#{id}
    </select>

    <!--修改支付和检测类型-->
    <update id="updateInfoById" parameterType="Tb_info">
        update tb_info
        <set>
            <if test="info_type != null">
                info_type = #{info_type,jdbcType=INTEGER},
            </if>
            <if test="info_title != null">
                info_title = #{info_title,jdbcType=VARCHAR},
            </if>
            <if test="info_content != null">
                info_content = #{info_content,jdbcType=VARCHAR},
            </if>
            <if test="info_linkman != null">
                info_linkman = #{info_linkman,jdbcType=VARCHAR},
            </if>
            <if test="info_phone != null">
                info_phone = #{info_phone,jdbcType=VARCHAR},
            </if>
            <if test="info_email != null">
                info_email = #{info_email,jdbcType=VARCHAR},
            </if>
            <if test="info_date != null">
                info_date = #{info_date,jdbcType=VARCHAR},
            </if>
            <if test="info_check != null">
                info_check = #{info_check,jdbcType=VARCHAR},
            </if>
            <if test="info_payfor != null">
                info_payfor = #{info_payfor,jdbcType=VARCHAR},
            </if>
            <if test="info_status != null">
                info_status = #{info_status,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <!--查询没有付费的最新消息-->
    <select id="recruit_0" parameterType="Tb_info" resultMap="queryAndType">
        select * from tb_info where info_type=#{info_type} and info_payfor=0
        and id=(select MAX(id) FROM tb_info where info_type=#{info_type} and info_payfor=0)
    </select>

    <!--查询付费了的最新消息-->
    <select id="recruit_1" parameterType="Tb_info" resultMap="queryAndType">
        select * from tb_info where info_type=#{info_type} and info_payfor=1
        and id=(select MAX(id) FROM tb_info where info_type=#{info_type} and info_payfor=1)
    </select>
</mapper>