<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.dao.UserDao">

    <!--登录-->
    <select id="login" resultType="Tb_User">
        select * from tb_user where user_name=#{user_name} and user_statue=0
    </select>

    <!--注册-->
    <insert id="register" parameterType="Tb_User">
        insert into tb_user values(null,#{user_name},#{user_password},0,0)
    </insert>

    <!--检查用户是否重复-->
    <select id="checkRegister" resultType="Tb_User">
         select * from tb_user where user_name=#{user_name}
    </select>

    <!--查询所有非管理员用户-->
    <select id="selectAllUser" resultType="Tb_User">
        select * from tb_user  where user_type=0 and user_statue=0
    </select>

    <!--根据ID查询用户-->
    <select id="selectUserById" parameterType="Tb_User" resultType="Tb_User">
        select * from tb_User where id=#{id}
        and user_statue=0 and user_type=0
    </select>


    <!--删除用户（把用户表的user_statue）-->
    <update id="delectUser" parameterType="Tb_User">
        update tb_user
        set user_statue = #{user_statue,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <!--更新User相关信息-->
    <update id="updateUser" parameterType="Tb_User">
        update tb_user
        <set>
            <if test="user_name != null">
                user_name = #{user_name,jdbcType=VARCHAR},
            </if>
            <if test="user_password != null">
                user_password = #{user_password,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper> 