<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>后台首页</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/page.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>
<center>

    <table border="0" cellpadding="0" cellspacing="0" width="688" height="auto">
        <tr height="20"><td><img src="/images/default_t.jpg"></td></tr>
        <tr><td background="/images/default_m.jpg" valign="top">
            <!-- 内容区 -->
            <iframe id="show" src="default.html" frameBorder="0" width="650" scrolling="no" height="300" style="margin-left:10"></iframe>
        </td>
        </tr>
        <tr height="26"><td><img src="/images/default_e.jpg"></td></tr>
    </table>
</center>
</body>
</html>